body {
    margin: 0;
    padding: 0;
    background: black;
    color: black;
}

header,
footer {
    background-color: rgb(0, 255, 255);
    color: black;
    padding: 1rem;
    text-align: center;
}

.heading {
    background-color: rgb(36, 166, 166);
    color: black;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px black;
}

main {
    max-width: 900px;
    margin: 2rem auto;
    background: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 2rem;
}

article header h1 {
    margin-top: 0;
}

time {
    color: blue;
    font-size: 0.9rem;
}

img {
    max-width: 100%;
    display: block;
    margin: 1rem 0;
    box-shadow: 0px 0px 5px 2px darkblue;
    border-radius: 8px;
}

ul {
    padding-left: 1.5rem;
}

section.comments {
    border-top: 1px solid black;
    padding-top: 1rem;
}

.comment {
    background-color: rgb(190, 250, 230);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;
}

aside {
    background: rgb(252, 242, 229);
    padding: 1rem;
    margin-top: 2rem;
    border-left: 4px solid darkblue;
}

footer p {
    margin: 0;
}